<nav class="navbar navbar-expand-lg justify-content-between" style="background-color: aliceblue; padding: 14px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar-collapse" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h4><%= @room.name %></h4>
</nav>
